.Page {
    border: 3px solid black;
    background-color: white;
    padding: 1%;
    // background-image: url('https://images.unsplash.com/photo-1575479971017-542ec1ce42eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    .imgTitleLikeCounteriner {
      display: flex;
      h2 {
        font-size: clamp(1.1em, 1.4vw, 2em);
        color: red;
        margin: 3% 1% 3.5% 5%;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: bolder;
      }
  
      .likesCounter {
        width: clamp(1.3em, 4vw, 2em);
        color: rgb(27, 27, 66);
        position: relative;
        top: -30%;
        left: 55%;
        font-family: sans-serif;
        font-weight: bolder;
        // margin-left: -95%;
      }
      button {
        width: clamp(2.3em, 5vw, 2.9em);
        height: clamp(2.3em, 5vh, 2.7em);
        background-image: url("../assets/like.png");
        background-size: contain ;
        background-repeat: no-repeat;
        cursor: grabbing;
        margin-left: 1%;
      }
      button:hover {
        transform: scale(1.5);
        margin-left: 1%;
      }
    }
  
    .text {
      margin: 1% 5% 0 5%;
      font-size: clamp(0.8em, 1.1vw, 2em);
      align-items: center;
    }
    .pageNumber {
      position: absolute;
      bottom: 2%;
      right: 2.5%;
    }
    #pageDescription {
      position: absolute;
      top: 2%;
      right: 2.5%;
      font-size: clamp(0.5em, 0.7vw, 1em);
    }
  
    .bookIndexTitle {
      font-weight: bolder;
    }
    .bookIndexTitle:hover {
      color: brown;
      transform: scale(1.2);
      margin-left: 10%;
    }
  }
  
  // #poem1page1 {
  //   h2 {
  //     margin: 6% 22%;
  //     font-size: clamp(1.3em, 1.4vw, 2em);
  //     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  //       'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  //     font-weight: bolder;
  //   }
  //   div {
  //     margin: 2% 7%;
  //     font-size: clamp(0.8em, 1.1vw, 2em);
  //   }
  // }
  
  // #poem80page1 {
  //   background-image: url('../../../../assets/images/copertina4.jpg');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  
  //   .pageNumber {
  //     opacity: 0;
  //   }
  // }
  
  #poem81page1 {
    background-image: url("../assets/images/copertina4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    .pageNumber {
      opacity: 0;
    }
  }
  